* {
  font-family: Inconsolata, Monaco, monospace;
  font-size: 32px;
  padding: 0;
  margin: 0;
}

body {
  padding: 32px;
  background-color: black;
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 100%;
}

.command {
  width: 800px;
  margin-bottom: 32px;
}

pre {
  margin-left: 1em;
  color: #aaa;
}

.credits {
  border-top: 1px dotted #444;
  padding-top: 8px;
  margin-top: 100px;
  color: #444;
}

.credits a {
  color: #444;
}
